<body>

<h2> Bienvenue à la page d'accueil du Gossip Project </h2><br/>

<div class="container-fluid">
  <div class="row border border-danger">
      <div class="col-2 border border-success">Potin titre</div>
      <div class="col-6">Auteur</div>
      <div class="col-4 border border-success">Potin contenu</div>
  </div>
</div>
<br><br><br>




<% @gossips.each_with_index do |gossip, index| %>
  <p>Potin <%= index + 1%> : "<%= gossip.title %>"</p>
  <p>Auteur : <%= gossip.user.first_name %> <%= gossip.user.last_name %></p>
  <p><%= gossip.created_at.strftime("%d-%m-%y %H:%M:%S") %></p>
  <p><%= gossip.user.gossips.count %></p>
  <p><%= link_to "Le gossip en détails", gossip_path(gossip), style: 'color:white' %></p>
<% end %>

</body>